.show
  =render "content_likes/create", locals: { content: @content }
  .show-main
    post
  .show-main__titles
    .show-main__titles__title
      =@content.title
    .show-main__titles__date
      =@content.created_at.strftime("%Y-%m-%d %H:%M")
    .show-main__titles__text
      = markdown(@content.text).html_safe
  .answers
    =render "contents/show",locals: {answer: @answer}
  .answer-form
    = form_with(url: answer_path, model: @comment,method: :post,remote: true) do |f|
      質問に答えてあげよう！！
      .answer-form__main
        = f.text_area  :text, class:"answer-form__main__form"
        = f.hidden_field :content_id ,value: @content.id
        = f.submit "答える",class: "answer-form__main__btn"