.account
  .account-main
    .log-in
      ログイン
    .form
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          .field-label
            = f.label :password
            %i (英数字6文字以上)
          .field-input 
            = f.password_field :password, autocomplete: "current-password"
          .field
            .field-label
              = f.check_box :remember_me 
            .field-input 
              = f.label :remember_me 
          .actions
            .actions-submit
              =f.submit "ログイン"
            =render "devise/shared/links"
