.header
  .header__head
    .header__head__title
      title
  .header__content
    .header__content__home
      =icon('fas','fab fa-home',class:"header__home")
    .header__content__genre
      コード
    .header__content__facebook
    =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
      =icon('fab','fab fa-facebook-square',class:"header__content__facebook")
    .header__content__twitter
    =link_to "https://twitter.com/", class: "contents__btn contents__btn--twitter" do
      =icon('fab','fab fa-twitter-square',class:"header__content__twitter")
.account
  .account-main
    .log-in
      ログイン
    .form
      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          .field-label
            = f.label :password
            %i (英数字6文字以上)
          .field-input 
            = f.password_field :password, autocomplete: "current-password"
          .field
            .field-label
              = f.check_box :remember_me 
            .field-input 
              = f.label :remember_me 
          .actions
            .actions-submit
              =f.submit "ログイン"
            =render "devise/shared/links"
