!!!
%html

  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ScafSample
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    -if request.fullpath=="/"||request.fullpath=="/users/sign_in"||request.fullpath=="/users/sign_up"||request.fullpath=="/calendar"||request.fullpath.delete("^a-z,/")=="/histories/"||request.fullpath.delete("^a-z,/")=="/users//edit"
      
    -else
      =render "contents/header"
    = yield
        